[Unit]
Description=Team Fortress 2 Server
After=network.target

[Service]
Type=simple
User=tf2user
StateDirectory=tf2server
WorkingDirectory=/var/lib/tf2server
ExecStart=/var/lib/tf2server/start.sh
ExecStop=/bin/kill -s SIGINT $MAINPID
Restart=on-failure
RestartSec=10
TimeoutStopSec=30s

PrivateTmp=true
PrivateDevices=true
DevicePolicy=closed
ProtectSystem=full
ProtectHome=true
MemoryMax=8G

[Install]
WantedBy=multi-user.target
